<div class="row text-center" ng-show="loading">
  <h3><i class="fa fa-refresh fa-spin" style="margin-right:10px"></i>Loading docker information ...</h3> 
</div>

<div ng-hide="loading">
<div class="row">
  <ul class="breadcrumb">
    <li>EXPLORE</li>
    <li class="active">DASHBOARD</li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-4 images-container">
    <h3 class="title"><i class="fa fa-cube"></i>Docker Images<span class="pull-right badge" style="margin-top: 8px; background-color: lightgray">{{images.length}}</span></h3>
    
    <div class="alert alert-warning" role="alert" ng-show="images.length == 0">
      <i class="fa fa-exclamation-circle" style="margin-right: 8px;"></i>We couldn't find available images...
    </div>
    
    <div style="overflow-y: auto;">
      
      <div class="list-group">
        <div class="list-group-item" ng-repeat="image in images">
          <h3 class="list-group-item-heading">
            <span>{{ image.name() }}</span>
            <i class="fa" ng-class="{'fa-caret-down': currentImage, 'fa-caret-right': !currentImage}" ng-click="currentImage = !currentImage"></i>
          </h3>
          <div ng-show="currentImage">
            <p><strong>ID:</strong> {{image.Id.substring(0, 50)}}...</p>
            <p><button class="btn btn-success btn-xs" ng-click="startContainer( image.name() )">START</button></p>
            <p class="list-group-item-text"></p>
            <span class="label label-primary tag" ng-repeat="tag in image.RepoTags">{{tag}}</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-sm-5 container-container">
    <h3 class="title"><i class="fa fa-cogs"></i>Running Containers<span class="pull-right badge" style="margin-top: 8px; background-color: lightgray">{{containers.length}}</span></h3>
    
    <div class="alert alert-warning" role="alert" ng-show="containers.length == 0">
      <i class="fa fa-exclamation-circle" style="margin-right: 8px;"></i>There's no containers running...
    </div>
    
    <div class="list-group" ng-hide="containers.length == 0">
      <div class="list-group-item" ng-repeat="container in containers">
        <h4 class="list-group-item-heading">
          <a ui-sref="containerDetail({id: container.Id})"><span><strong>{{ container.Image }}</strong></span></a>
        </h4>
        <p><span><i class="fa fa-check-circle text-success" style="margin-right: 8px;"></i>{{ container.Status }}</span></p>
        <p class="list-group-item-text">
          <span ng-repeat="port in container.Ports">
            <span class="label label-primary">{{port.key}}</span>
          </span>
        </p>
        <p class="list-group-item-text">
          <button class="btn btn-xs btn-primary">START</button>
          <button class="btn btn-xs btn-primary" ng-click="stopContainer(container.Id)">STOP</button>
          <button class="btn btn-xs btn-primary">PAUSE</button>
          <button class="btn btn-xs btn-primary">RESTART</button>
        </p>
      </div>
    </div>

 
    
  </div>
  <div class="col-sm-3">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-laptop"></i>System Information</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12"><strong>OS:</strong> {{info.OperatingSystem}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12"><strong>Name:</strong> {{info.Name}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12"><strong>Kernel Version:</strong> {{info.KernelVersion}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12"><strong>CPU(s):</strong> {{info.NCPU}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12"><strong>Total Memory:</strong> {{info.MemTotal}}</div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Docker</p>
        <div class="row">
          <div class="col-sm-12"><strong>API Version:</strong> {{version.ApiVersion}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>